Binaries
DerivedDataCache
Intermediate
Saved
Content/AnimalVarietyPack
Content/BlackAlder
Content/MedievalDungeon
Content/Megascans
Content/MSPresets
Content/StarterContent
Content/__ExternalActors__
Content/__ExternalObjects__
Content/EchoContent
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace