Binaries
DerivedDataCache
Intermediate
Saved
Content/AnimalVarietyPack
Content/BlackAlder
Content/MedievalDungeon
Content/Megascans
Content/MSPresets
Content/StarterContent
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace